%container {
    width: 95%;
    margin: 0 auto;
    @include breakpoint(medium) {
        max-width: 800px;
    }
}

%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}