$baseColor: #555;
$baseColorLight: #777;
$headerColor: #333;
$primaryColor: #52B3D9;
$lightGrey: #f1f1f1;
$grey: #eee;

$baseFont: "proxima-nova",sans-serif;
$headerFont: "proxima-nova-soft",sans-serif;

$spacingHalf: 10px;
$spacing: 20px;
$spacingDouble: 40px;